/* Start Global Rules */

:root {
  --primary-color: white;
  --secondary-color: hsl(193, 96%, 54%);
  --accent-color: rgb(15, 116, 143, 70%);
  --text-color: #333;
  --section-padding: 50px 0;
}

* {
  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Noto Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Small Screen */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Screen  */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large Screen  */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Start Components  */
.special-heading {
  text-align: center;
  margin-top: 60px;
}

.special-heading h2 {
  font-size: 40px;
  font-weight: normal;
  position: relative;
  margin-bottom: 60px;
  color: var(--text-color);
}

.special-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  height: 2px;
  width: 120px;
  background-color: var(--text-color);
}

.special-heading h2::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--primary-color);
  border: 2px solid var(--text-color);
  border-radius: 50%;
  bottom: -38px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.special-heading p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 1.8;
  color: #777;
  font-size: 18px;
}

@media (max-width: 767px) {
  .special-heading p {
    margin: 0 auto 30px;
  }
}
/* End Components  */
/* End Global Roles */

/* Start Header  */

header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .logo {
  width: 100%;
}
header .logo img {
  width: 100px;
}

header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  min-height: 131px;
}

header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #a2a2a2;
  bottom: 16px;
  width: calc(100% - 30px);
  left: 15px;
}

header nav {
  flex: 1;
  /* position: relative; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav ul {
  display: flex;
}

@media (max-width: 767px) {
  header nav ul {
    display: none;
  }
  header .toogle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 0;
  }

  header ul a {
    padding: 15px 0 !important;
  }
}

header ul li a {
  display: block;
  text-decoration: none;
  color: white;
  transition: 0.3s;
  padding: 40px 10px;
  position: relative;
  z-index: 3;
}

header nav a:hover,
header nav a.active {
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}

header .search {
  width: 40px;
  height: 40px;
  margin-left: 30px;
  position: relative;
  border-left: 1px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

header .search i {
  color: white;
  font-size: 20px;
  padding-left: 30px;
}

header nav .toogle-menu {
  color: var(--primary-color);
  font-size: 20px;
}

@media (min-width: 767px) {
  header .toogle-menu {
    display: none;
  }
}

/* End Header  */

/* Start Landing Page */
.landing-page {
  background-position: center;
  background-repeat: no-repeat;

  background-image: url("https://i.ibb.co/WHXFrFT/pexels-erik-karits-10173090.jpg");
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.landing-page .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.landing-page .overlay .left-arrow {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 30px;
  color: var(--primary-color);
  z-index: 2;
}

.landing-page .overlay .right-arrow {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 30px;
  color: var(--primary-color);
  z-index: 2;
}

.landing-page .overlay .circle {
  position: absolute;
  top: 96%;
  right: 50%;
  transform: translateX(50%);
  color: var(--primary-color);
  font-size: 18px;
}

.landing-page .overlay .circle .center {
  color: var(--secondary-color);
}
.landing-page .landing-text {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  background-color: var(--accent-color);
  padding: 40px;
  color: var(--primary-color);
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 767px) {
  .landing-page .landing-text {
    width: 100%;
  }

  .landing-page .landing-text .landing-content {
    max-width: 100%;
  }

  .landing-page .overlay .right-arrow,
  .left-arrow {
    display: none;
  }
  .landing-page .overlay .left-arrow {
    display: none;
  }
}

@media (max-width: 1200px) {
  .landing-page .landing-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .landing-page .landing-text .landing-content {
    max-width: 100%;
  }
}

.landing-page .landing-text .landing-content {
  max-width: 500px;
}

.landing-page .landing-content h2 {
  line-height: 1.7;
  font-weight: normal;
  margin: 0;
}

.landing-page .landing-content p {
  font-size: 15px;
  line-height: 1.8;
}

/* End Landing Page */

/* Start Services  */

.services {
  padding: var(--section-padding);
}

@media (min-width: 992px) {
  .services .service-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 60px;
  }
}

@media (min-width: 767px) {
  .services .srv-text {
    margin-left: 40px;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .services .service-content .srv-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .services .srv-box i {
    margin-bottom: 20px;
  }
}

.services .srv-box {
  display: flex;
}

.services .srv-box i {
  font-size: 40px;
  color: var(--text-color);

  /* margin: 30px 0; */
}

.services .srv-text {
  width: 620px;
  max-width: 100%;
}

.services .srv-text h2 {
  margin: 0;
  font-weight: normal;
  color: var(--secondary-color);
  margin-bottom: 30px;
}

.services .srv-text p {
  font-size: 18px;
  line-height: 1.8;
  color: #777;
}

/* End Services  */

/* Start design  */
.design {
  padding-top: 50px;

  background-image: url(https://i.ibb.co/87Y6Znq/sky.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.design::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.design .design-img,
.design-content {
  position: relative;
  z-index: 2;
  flex: 1;
}

.design .design-img {
  width: 100%;
  height: 500px;
  top: 150px;
  text-align: center;
}

.design img {
  width: 50%;
  height: 100%;
  border-radius: 30px;
  position: relative;
}

.design .design-content {
  z-index: 1;
  color: white;
  position: relative;
  padding: 50px;
  background-color: var(--accent-color);
}

.design .design-content h2 {
  font-weight: normal;
}

.design .design-content ul {
  padding: 0;
  margin: 0;
}

.design .design-content ul li {
  padding: 15px 0;
}

.design .design-content ul li i {
  margin-right: 10px;
  position: relative;
  top: 1px;
}

@media (max-width: 992px) {
  .design .design-img {
    display: none;
  }

  .design .design-content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
}

/* End design  */
/* Start Portfolio */
.portfolio {
  padding: var(--section-padding);
  position: relative;
}

.portfolio ul {
  display: flex;
  justify-content: center;
}

.portfolio ul li {
  padding: 10px;
  font-size: 18px;
}

.portfolio ul li.active {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.imgs-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}

.imgs-section .box {
  position: relative;
  padding-bottom: 2px;
  overflow: hidden;
}

@media (min-width: 767px) {
  .imgs-section .box {
    flex-basis: 50%;
  }
}

@media (min-width: 1200px) {
  .imgs-section .box {
    flex-basis: 25%;
  }
}

.imgs-section .box img {
  max-width: 100%;
  height: 100%;
  transition: 0.3s;
}

.imgs-section .box .caption {
  font-size: 18px;
  position: absolute;
  left: 0;
  background-color: var(--primary-color);
  width: 100%;
  padding: 20px;
  transition: 0.3s;
  z-index: 3;
  bottom: -100px;
  font-weight: bold;
}

.imgs-section .box .caption h4 {
  margin: 0px 0px 10px 0px;
}

.imgs-section .box .caption p {
  color: var(--secondary-color);
  margin: 0px;
}

.imgs-section .box:hover .caption {
  bottom: 0px;
}
.imgs-section .box:hover img {
  transform: rotate(3deg) scale(1.1);
}

.more {
  display: block;
  text-decoration: none;
  color: var(--primary-color);
  background: var(--secondary-color);
  font-weight: normal;
  font-size: 18px;
  padding: 15px 20px;
  margin: 30px auto;
  width: fit-content;
}

/* End Portfolio */

/* Start video section  */
/* .video {
  height: 90vh;
  position: relative;
} */

/* @media (max-width: 992px) {
  .video {
    display: none;
  }
} */
/* .video::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 125%;
  background-color: rgba(0, 0, 0, 0.4);

} */

/* .video-caption {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -0%);
  text-align: center;
  width: 100%;
  max-height: 100%;
  color: var(--primary-color);
  background-color: var(--accent-color);
  padding: 30px;
  z-index: 2;
}

.video-caption p {
  font-size: 18px;
}

.video-caption button {
  text-decoration: none;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-color);
  background-color: #333;
  padding: 10px 20px;
  margin: 20px 0;
} */
/* End video section  */

/* Start About US  */
.about {
  padding-bottom: 50px;
  position: relative;
  text-align: center;
  overflow: hidden;
}
/* 
@media (min-width: 1200px) {
  .about {
    padding: 240px 0 50px;
  }
} */

.about img {
  position: relative;
  bottom:-120px;
  margin-top: -120px;
  max-width: 100%;
  z-index: -1;
  margin-left: -22px;
}
/* 
@media (max-width: 767px) {
  .about img {
    max-width: 80%;
    margin-right: 8px;
    bottom: -100px;
    margin-top: -100px;
  }
} */

.wallpaper {
  background-image: url("https://i.ibb.co/pXNbXgx/wallpaper-2.jpg");
  padding: var(--section-padding);
  background-size: cover;
  text-align: center;
  position: relative;
}

.wallpaper::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.about .wallpaper .container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 1;
}

.wallpaper .box {
  color: var(--primary-color);
  background-color: var(--accent-color);
  padding: 50px;
}

@media (max-width: 767px) {
  .wallpaper .box {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .wallpaper .box {
    flex-basis: 50%;
  }
}

@media (min-width: 992px) {
  .wallpaper .box {
    flex-basis: 25%;
  }
}

.wallpaper .box i {
  font-size: 20px;
  background-color: black;
  padding: 15px;
  border-radius: 50%;
  margin: 0 0 30px;
}

.wallpaper .box h1 {
  font-size: 50px;
  margin: 0 0 25px;
}

.wallpaper .box p {
  font-size: 14px;
  margin-bottom: 0;
}
/* End About US  */

/* Start Skills && Testimonials */

/* Start Testimonials  */

.sk-op {
  padding: var(--section-padding);
}

.sk-op .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 992px) {
  .sk-op .container > div {
    flex-basis: 45%;
  }
}

.sk-op .container .top {
  text-align: center;
}

.sk-op .container > div > div > h2 {
  font-weight: normal;
  margin: 0 0 30px;
}

.sk-op .container > div > div > p {
  color: var(--text-color);
  line-height: 1.8;
  margin-bottom: 50px;
}

.opinion .avatar {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.opinion .avatar img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 50px;
}

@media (max-width: 767px) {
  .opinion .avatar {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .opinion .avatar img {
    margin: 0 auto 20px;
  }
}

.opinion .comment {
  line-height: 1.8;
  border-bottom: 1px solid #ccc;
}

.opinion .comment P {
  text-align: right;
  color: #777;
}

.opinion ul {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.opinion ul li {
  /* width: 15px;
  height: 15px;
  border: 1px solid #aaa;
  border-radius: 50%;
  margin: 0 5px; */
}

/* End Testimonials  */

/* Start Skills  */
.skill .skill-progress {
  margin-bottom: 40px;
}

.skill .skill-progress h4 {
  margin-bottom: 15px;
  font-weight: normal;
}

.skill .skill-progress .prog {
  background-color: #dedadc;
  height: 30px;
}

.skill .skill-progress .prog span {
  position: relative;
  background-color: var(--secondary-color);
  height: 100%;
  display: block;
}

.skill .skill-progress .prog span::before {
  position: absolute;
  content: attr(data-progress);
  right: -20px;
  bottom: 40px;
  background-color: black;
  width: 40px;
  text-align: center;
  padding: 8px 2px;
  color: var(--primary-color);
  border-radius: 4px;
}

.skill .skill-progress .prog span::after {
  position: absolute;
  content: "";

  position: absolute;
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: black transparent transparent;
  right: -9px;
  bottom: 25px;
}

/* End Skills  */

/* End Skills && Testimonials */

/* Start Quote  */
.quote {
  padding: 100px 0;
  background-image: url(/assets/images/sea.jpg);
  background-size: cover;
  margin: 50px 0;
  text-align: center;
  position: relative;
  color: var(--primary-color);
}

.quote::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.4);
  left: 0;
  top: 0;
}

.quote .container {
  position: relative;
  z-index: 2;
}

.quote q {
  font-size: 30px;
  margin-bottom: 20px;
  display: block;
}

@media (max-width: 767px) {
  .quote q {
    font-size: 22px;
  }
}

/* End Quote  */

/* Start Pricing */
.pricing {
  padding: var(--section-padding);
}

.pricing .pricing-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

@media (max-width: 1200px) {
  .pricing .pricing-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.pricing .pricing-content .box {
  text-align: center;
  background-color: hsla(330, 6%, 86%, 0.1);
}

.pricing .pricing-content .box .head {
  padding: 40px 20px;
  border-top: 1px solid var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}

.pricing .pricing-content h2 {
  font-weight: normal;
  margin-bottom: 20px;
}

.pricing .pricing-content span {
  position: relative;
  font-size: 60px;
  font-weight: bold;
}

.pricing .pricing-content span::before {
  position: absolute;
  content: "$";
  right: 90px;
  top: 0px;
  font-size: 25px;
}

.pricing .pricing-content span::after {
  position: absolute;
  content: "/Mo";
  left: 90px;
  bottom: 0px;
  font-size: 25px;
}

.pricing .pricing-content ul {
  border-bottom: 1px solid var(--secondary-color);
  padding: 0;
}

.pricing .pricing-content ul li {
  padding: 20px 0;
  position: relative;
}

.pricing .pricing-content ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 140px;
  height: 1px;
  background-color: var(--secondary-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.pricing .box .foot {
  margin: 40px;
}
.pricing .box .foot a {
  display: block;
  background-color: hsla(330, 6%, 86%, 0.1);
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  padding: 20px;
  font-size: 18px;
  width: fit-content;
  text-decoration: none;
  margin: 25px auto;
}

.pricing .call {
  text-align: center;
  margin: 40px auto;
}

.pricing .call p {
  font-size: 20px;
  /* margin-bottom: 30px; */
}

.pricing .call a {
  display: block;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  text-decoration: none;
  padding: 20px 30px;
  width: fit-content;
  margin: 30px auto;
}

/* Start Subscribe */

/* End Subscribe */
.subscribe {
  padding: var(--section-padding);
  background-image: url(/assets/images/planet-2.jpg);
  background-size: cover;
  color: var(--primary-color);
  position: relative;
  height: 40vh;
  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
}

.subscribe .container {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  z-index: 2;
}

@media (max-width: 992px) {
  .subscribe .container {
    display: flex;
    flex-direction: column;
  }
}

.subscribe form {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
  font-size: 18px;
}

@media (max-width: 767px) {
  .subscribe .container form {
    width: 350px;
    max-width: 100%;
  }
}

.subscribe form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
}

.subscribe form input[type="email"] {
  border: 1px solid white;
  background: none;
  padding: 20px 20px 20px 60px;
  caret-color: var(--secondary-color);
  width: calc(100% - 130px);
  border-right: none;
}

.subscribe form ::placeholder {
  color: var(--primary-color);
}

.subscribe form input[type="email"]:focus-visible,
.subscribe form input[type="submit"]:focus {
  outline: none;
}

.subscribe form input[type="submit"] {
  width: 130px;
  background-color: var(--secondary-color);
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
  border-left: none;
  text-transform: uppercase;
}

.subscribe .container p {
  line-height: 1.8;
  margin-left: 50px;
  font-size: 18px;
}

@media (max-width: 992px) {
  .subscribe .container p {
    text-align: center;
    margin-left: 0;
    margin: 50px 0 0;
  }
}

/* End Pricing */

/* Start Contact  */
.contact {
  padding: var(--section-padding);
}

.contact .content-us {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .contact .content-us {
    display: flex;
    flex-direction: column;
  }
}

.contact .container form {
  flex-basis: 70%;
  position: relative;
}

.contact .container form .main-input {
  display: block;
  margin-bottom: 30px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
}

.contact .container form .main-input:focus-visible {
  outline: none;
}

.contact .container form textarea.main-input {
  height: 200px;
}

.contact .container form input[type="submit"] {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: none;
  text-transform: uppercase;
  padding: 20px;
  display: flex;
  margin-left: auto;
  cursor: pointer;
}

.contact .content-us .contact-info {
  flex-basis: 25%;
}

@media (max-width: 767px) {
  .contact .content-us .contact-info {
    order: -1;
    text-align: center;
  }

  .contact .content-us .contact-info address {
    margin-bottom: 30px;
  }
}

.contact .content-us .contact-info h3 {
  font-weight: normal;
  margin: 0 0 30px;
}

.contact .content-us .contact-info .phone {
  color: #777;
  display: block;
  margin: 10px 0;
  font-size: 18px;
}

.contact .content-us .contact-info h3:nth-of-type(2) {
  margin-top: 90px;
}

@media (max-width: 767px) {
  .contact .content-us .contact-info h3:nth-of-type(2) {
    margin-top: 30px;
  }
}

.contact .content-us .contact-info address {
  color: #777;
  font-size: 18px;
  line-height: 2;
}
/* End Contact  */

/* Start Footer  */
footer {
  padding: var(--section-padding);
  background-image: url(/assets/images/planet-2.jpg);
  background-size: cover;
  position: relative;
}

footer::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
  height: 100%;
}

footer .container {
  color: var(--primary-color);
  position: relative;
  z-index: 2;
  text-align: center;
}

footer .container img {
  width: 150px;
  height: 150px;
}


footer .social-links h2 {
  font-weight: normal;
  position: relative;
  margin-bottom: 40px;
  border-bottom: 1px solid white;
  width: fit-content;
  margin: 20px auto;
  padding: 20px;
}

@media (max-width: 767px) {
  footer .social-links h2 {
    font-size: 22px;
  }
}

footer .social-links i {
  color: white;

  font-size: 18px;
  padding: 10px;
}

footer p {
  font-size: 18px;
  margin-top: 60px;
}

footer p .hssn-footer {
  color: var(--secondary-color);
  font-weight: bold;
}

@media (max-width: 767px) {
  footer p {
    font-size: 18px;
  }
}
/* End Footer  */
